<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tequila="http://www.shining3d.com/schema/tequila"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.shining3d.com/schema/tequila
        http://www.shining3d.com/schema/tequila/tequila.xsd
        ">

    <tequila:application name="test" owner="fe" description="测试任务"/>

    <tequila:registry protocol="consul" address="127.0.0.1" port="9500"/>


</beans>